<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>JellySpace-Democratizing Space</title>
    <meta content="" name="description" />

    <meta content="" name="keywords" />

    <!-- Favicons -->
    <a class="navbar-brand logo" href="javascript:void(0)">
      <link href="/assets/img/smallLogo.png" rel="icon" />
      <link href="/assets/img/logo2.png" rel="apple-touch-icon" />
    </a>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- Vendor CSS Files -->
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="/assets/img/logo2.png" alt="" />
          <span><img src="/assets/img/letterLogo.png" alt="" /></span>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <!-- ======= How it Works ======= -->
            <li class="dropdown">
              <a
                href="#"
                data-toggle="dropdown"
                role="button"
                aria-expanded="false"
                >How it Works
                <span class="caret"></span>
              </a>
              <ul class="multi" role="menu">
                <div class="row">
                  <div class="spColumn">
                    <h6 style="padding-left: 40px">SOLUTIONS</h6>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/project.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Post | Bid | Acquire Projects
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/cloud.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Cloud & Decentralized File Sharing
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/payroll.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Payroll & Billing System
                        </i>
                      </a>
                      <ol style="list-style-type: none">
                        <li style="padding-left: 40px">
                          <a href="#">
                            Hire & Manage Employees |
                            <br />Contractors
                          </a>
                        </li>
                        <li style="padding-left: 40px">
                          <a href="#">Run Payroll</a>
                        </li>
                        <li style="padding-left: 40px">
                          <a href="#">Offer Benefits | Stock Options</a>
                        </li>
                        <li style="padding-left: 40px">
                          <a href="#">Manage Bills</a>
                        </li>
                      </ol>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/projectManagement.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Project Management tools
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/QA.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Community Q&A Platform
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/space.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Space & Aerospace Marketplace
                        </i>
                      </a>
                    </li>
                  </div>
                  <div class="spColumn">
                    <h6 style="padding-left: 40px">SERVICES</h6>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/partner.png"
                            style="width: 28px"
                          />
                          &nbsp;&nbsp; Partnerships
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/global.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Global Payroll | Expansion
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/EOR.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Employer of Record (EOR)
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/contractor.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Contractor Management
                        </i>
                      </a>
                    </li>
                  </div>
                </div>
              </ul>
            </li>
            <!-- ======= End of How it Works ======= -->
            <li><a class="getDivider" href="">|</a></li>
            <!-- ======= Why Jellyspace ======= -->
            <li class="dropdown">
              <a
                href="#"
                data-toggle="dropdown"
                role="button"
                aria-expanded="false"
                >Why JELLYSPACE?
                <span class="caret"></span>
              </a>
              <ul class="multiColumnWhy" role="menu">
                <div class="row">
                  <div class="spColumnWhy">
                    <h6 style="padding-left: 20px">Why choose JELLYSPACE?</h6>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/aerospace.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Space & Aerospace Exclusive
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/pricing.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Fair Pricing
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/security.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Security & Compliance
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/shield.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; IP Protection
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/integrations.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Integrations | APIs
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/customer.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Customer Experience
                        </i></a
                      >
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/support.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Post Project Support
                        </i>
                      </a>
                    </li>
                  </div>
                  <div class="spColumnWhy">
                    <h6 style="padding-left: 40px">By Roles</h6>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/b2b.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Space & Aerospace B2B Experts
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/smes.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; SMEs | Startups
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/smallGovt.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Small Governments | Non-Profit
                          Organizations
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/ETDR.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Engineers | Technicians | Developers |
                          Researchers
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/nonspace.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Non-Space Employees | Experts |
                          Contractors
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i style="font-size: 1rem">
                          <img
                            src="../../assets/img/testMeasure.png"
                            style="width: 20px"
                          />
                          &nbsp;&nbsp; Test | Measurement Service Providers
                        </i>
                      </a>
                    </li>
                  </div>
                </div>
              </ul>
            </li>
            <!-- ======= End of Why Jellyspace ======= -->
            <li><a class="getDivider" href="">|</a></li>
            <li class="dropdown">
              <a
                href="#"
                data-toggle="dropdown"
                role="button"
                aria-expanded="false"
                >Browse
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/newSpace.png"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Space | New Space
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/satellite.png"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Satellites
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/aero.png"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Aerospace
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/drone.png"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; UAV | Drones
                    </i>
                  </a>
                </li>
              </ul>
            </li>
            <li><a class="getDivider" href="">|</a></li>
            <li class="dropdown">
              <a
                href="#"
                data-toggle="dropdown"
                role="button"
                aria-expanded="false"
                >Assets
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#" (click)="_openCommunityTab()">
                    <i style="font-size: 1rem">
                      <img src="../../assets/img/QA.png" style="width: 20px" />
                      &nbsp;&nbsp; Community Q&A
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/market.png"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Marketplace
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/integrations.png"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Integrations
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/blog.png"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Blog
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/events.jpg"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Events & Workshops
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/publications.jpg"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Publications
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/support.png"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Support
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/contact.jpg"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Contact us
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/about.png"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; About us
                    </i>
                  </a>
                </li>
              </ul>
            </li>
            <li><a class="getDivider" href="">|</a></li>
            <li class="dropdown">
              <a
                href="#"
                data-toggle="dropdown"
                role="button"
                aria-expanded="false"
                >Partners
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img
                        src="../../assets/img/debris.jpg"
                        style="width: 20px"
                      />
                      &nbsp;&nbsp; Orbital Debris & Space Futures
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img src="../../assets/img/law.jpg" style="width: 20px" />
                      &nbsp;&nbsp; Space Policy & Law
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img src="../../assets/img/HR.jpg" style="width: 20px" />
                      &nbsp;&nbsp; HR Consultants
                    </i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i style="font-size: 1rem">
                      <img src="../../assets/img/tax.png" style="width: 20px" />
                      &nbsp;&nbsp; Tax & Accounting Firms
                    </i>
                  </a>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a
                href="#"
                data-toggle="dropdown"
                role="button"
                aria-expanded="false"
              >
                <i class="bi bi-globe" style="font-size: 1.5rem"></i>
              </a>
              <ul class="multiColumnGlobal" role="menu" style="left: -170px">
                <div class="row">
                  <div class="spColumnGlobal">
                    <h6 style="padding-left: 40px">Americas</h6>
                    <li><a href="#">United States (English)</a></li>
                  </div>
                  <div class="spColumnGlobal">
                    <h6 style="padding-left: 40px">Europe</h6>
                    <li><a href="#">Deutschland (Deutsch)</a></li>
                  </div>
                  <div class="spColumnGlobal">
                    <h6 style="padding-left: 30px">Asia Pacific</h6>
                    <li style="padding-left: 20px">
                      <a href="#">India (English)</a>
                    </li>
                  </div>
                </div>
              </ul>
            </li>
            <li>
              <a
                href="/signin"
                style="
                  background-color: #d0f0c0;
                  padding: 8px 16px;
                  border-radius: 10px;
                  text-decoration: none;
                  color: black;
                  margin-left: 30px;
                  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
                "
              >
                Ac Portal
              </a>
            </li>
            <li><a class="getDemo" href="">Demo</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Recent Blog Posts Section ======= -->
      <section id="recent-blog-posts" class="recent-blog-posts">
        <div class="container">
          <header class="section-header">
            <p>Space Technology Made Accessible</p>
          </header>
          <div class="carousel1">
            <div class="carousel__item1">Researchers</div>
            <div class="carousel">
              <div class="carousel__item">Startups</div>
              <div class="carousel3">
                <div class="carousel__item3">Developers</div>
                <div class="carousel4">
                  <div class="carousel__item4">Scientists</div>
                  <div class="carousel5">
                    <div class="carousel__item5">Engineers</div>
                    <div class="carousel6">
                      <div class="carousel__item6">SMEs</div>
                      <div class="carousel7">
                        <img src="../../assets/img/logo2.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Recent Blog Posts Section -->

      <section id="values" class="values">
        <div class="container">
          <h3>Browse Marketplace</h3>
          <div class="row">
            <div class="col-lg-4">
              <div class="box" data-aos-delay="200">
                <img
                  src="../../assets/img/values-1.png"
                  class="img-fluid"
                  alt=""
                />
                <p>Satellite Manufacturing, Ground Equipment</p>
                <p>New Space/Aerospace Network</p>
                <p>New Launch Systems</p>
                <p>Satellite Servicing</p>
                <p>Meteorology and SmallSats</p>
                <p>EO Constellations</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos-delay="400">
                <img
                  src="../../assets/img/values-2.png"
                  class="img-fluid"
                  alt=""
                />
                <p>Components and Subsystems for SmallSats</p>
                <p>Manufacturing in Microgravity and Space</p>
                <p>Services: IoT, Media and Internet for All</p>
                <p>Geoinformation, Data and Services</p>
                <p>Positioning, Navigation and Timing</p>
                <p>Test & Measurement</p>
              </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos-delay="600">
                <img
                  src="../../assets/img/values-3.png"
                  class="img-fluid"
                  alt=""
                />
                <p>Space Resource Mining</p>
                <p>Energy from Space<br />(Mining, Process and Assembly)</p>
                <p>Space Habitats, Humans to Mars<br />(Manned | Robotic)</p>
                <p>ISS Servicing, Space Tourism</p>
                <p>Programming & Tech</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Recent Blog Posts Section -->
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="copyright">
          <p id="lefts">
            <a href="https://twitter.com/JELLYSPACE1" id="twitter"
              ><i class="bi bi-twitter"></i
            ></a>
            <a href="https://www.linkedin.com/company/jellyspace" id="linkedin"
              ><i class="bi bi-linkedin bx bxl-linkedin"></i
            ></a>
          </p>
          <p style="padding-left: 200px" id="rights">
            Copyright &copy; 2022 |<strong><span> JELLYSPACE </span></strong>|
            All Rights Reserved | Terms & Conditions | Privacy Policy
          </p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/purecounter/purecounter.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
