<div class="profile-container">
  <!-- Header with Profile Actions (Fixed to Top Right) -->
  <header class="profile-header">
    <div class="profile-actions">
      <button class="btn btn-secondary" (click)="close()">
        <span class="fa fa-times"></span>
      </button>
    </div>
  </header>

  <!-- Main Content Section -->
  <main class="profile-main-content">
    <!-- Profile Section -->
    <div class="card my-4">
      <div class="profile-card">
        <div class="profile-card-body">
          <div class="profile-card-header">
            <div class="profile-image">
              <img [src]="image || dummyImage" alt="Profile Image" />
            </div>
            <div class="profile-info">
              <h2>{{ fname }} {{ lname }}</h2>
              <span class="profile-email">{{ email }}</span>
            </div>
          </div>
          <div class="profile-details">
            <div class="company-info">
              <p><strong>Company Size:</strong> {{ companyInfo.size }}</p>
              <p>
                <strong>Year Established:</strong> {{ companyInfo.established }}
              </p>
            </div>
            <div class="profile-actions">
              <button class="edit-profile" (click)="editProfile()">
                Edit My Profile
              </button>
              <a href="/privacy-policy" class="policy-link">Privacy Policy</a>
              <a href="/terms-conditions" class="policy-link"
                >Terms and Conditions</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Subscription Details -->
    <div class="card my-4">
      <div class="card-header">
        <label class="section-title">Subscription</label>
      </div>
      <div class="profile-card">
        <div class="profile-card-body">
          <div class="profile-details">
            <div class="company-info">
              <h3>Individual Subscription</h3>
              <p><strong>Renews on:</strong> 2024-09-29</p>
            </div>
            <div class="profile-actions">
              <button class="edit-profile" (click)="manageSubscription()">
                Manage My Subscription
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Company Information Section -->
    <div class="card my-4">
      <div class="card-header">
        <label class="section-title">Company Information</label>
      </div>
      <div class="card-body">
        <div class="company-info">
          <div class="company-logo">
            <img
              [src]="companyInfo.logo"
              alt="{{ companyInfo.name }} Logo"
              class="logo-image"
            />
          </div>
          <div class="company-details">
            <p><strong>Company Name:</strong> {{ companyInfo.name }}</p>
            <p><strong>Location:</strong> {{ companyInfo.location }}</p>
            <p><strong>Contact:</strong> {{ companyInfo.contact }}</p>
            <p><strong>Size:</strong> {{ companyInfo.size }}</p>
            <p><strong>Established:</strong> {{ companyInfo.established }}</p>
            <p><strong>Revenue:</strong> {{ companyInfo.revenue }}</p>
            <p>
              <strong>Market Segments:</strong>
              {{ companyInfo.marketSegments.join(", ") }}
            </p>
            <p>
              <strong>Partnerships:</strong>
              {{ companyInfo.partnerships.join(", ") }}
            </p>
            <p>
              <strong>Certifications:</strong>
              {{ companyInfo.certifications.join(", ") }}
            </p>
            <p>
              <strong>Technology Focus:</strong>
              {{ companyInfo.technologyFocus.join(", ") }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Market and Customer Data Section -->
    <div class="card mb-4">
      <div class="card-header">
        <label class="section-title">Market and Customer Data</label>
      </div>
      <div class="card-body">
        <div class="market-customer-info">
          <div class="info-section">
            <h5>Key Markets:</h5>
            <p>{{ MarketCustomerData.keyMarkets.join(", ") }}</p>
          </div>
          <div class="info-section">
            <h5>Customer Segments:</h5>
            <p>{{ MarketCustomerData.customerSegments.join(", ") }}</p>
          </div>
          <div class="info-section">
            <h5>Competitive Position:</h5>
            <p>{{ MarketCustomerData.competitivePosition }}</p>
          </div>
          <div class="info-section">
            <h5>Sales Channels:</h5>
            <p>{{ MarketCustomerData.salesChannels.join(", ") }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Additional Sections -->
    <div class="card mb-4">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <label class="section-title">Portfolio Items</label>
        <a class="btn btn-primary">Manage</a>
      </div>
      <div class="card-body text-center">
        <img src="../../assets/illustration.svg" alt="No Portfolio" />
        <p class="empty-message">No portfolio items have been added yet</p>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <label class="section-title">Reviews</label>
      </div>
      <div class="card-body text-center">
        <img src="../../assets/reviews1.png" alt="No Reviews" />
        <p class="empty-message">No reviews to see here!</p>
      </div>
    </div>

    <div class="card mb-4">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <label class="section-title">Experience</label>
        <a class="btn btn-primary">Add Experience</a>
      </div>
      <div class="card-body">
        <p class="empty-message">No experiences have been added.</p>
      </div>
    </div>

    <div class="card mb-4">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <label class="section-title">Education</label>
        <a class="btn btn-primary">Add Education</a>
      </div>
      <div class="card-body">
        <p class="empty-message">No education information has been added.</p>
      </div>
    </div>

    <div class="card mb-4">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <label class="section-title">Qualifications</label>
        <a class="btn btn-primary">Add Qualification</a>
      </div>
      <div class="card-body">
        <p class="empty-message">No qualifications have been added.</p>
      </div>
    </div>

    <div class="card mb-4">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <label class="section-title">Publications</label>
        <a class="btn btn-primary">Add Publication</a>
      </div>
      <div class="card-body">
        <p class="empty-message">No publications have been added.</p>
      </div>
    </div>
  </main>

  <!-- Sidebar -->
  <aside class="profile-sidebar">
    <div class="card mb-4">
      <div class="card-header">
        <label class="section-title">Product and Services Information</label>
      </div>
      <div class="card-body">
        <div class="info-section">
          <h5>Product Categories:</h5>
          <p>{{ productServicesInfo.productCategories.join(", ") }}</p>
        </div>
        <div class="info-section">
          <h5>Product Specifications:</h5>
          <p>{{ productServicesInfo.productSpecifications }}</p>
        </div>
        <div class="info-section">
          <h5>Service Offerings:</h5>
          <p>{{ productServicesInfo.serviceOfferings.join(", ") }}</p>
        </div>
        <div class="info-section">
          <h5>Applications:</h5>
          <p>{{ productServicesInfo.applications.join(", ") }}</p>
        </div>
        <div class="info-section">
          <h5>Delivery and Fulfillment:</h5>
          <p>{{ productServicesInfo.deliveryAndFulfillment }}</p>
        </div>
        <div class="info-section">
          <h5>Production Capabilities:</h5>
          <p>{{ productServicesInfo.productionCapabilities }}</p>
        </div>
        <div class="info-section">
          <h5>R&D Focus:</h5>
          <p>{{ productServicesInfo.rAndDFocus }}</p>
        </div>
        <div class="info-section">
          <h5>Supply Chain Focus:</h5>
          <p>{{ productServicesInfo.supplyChainFocus }}</p>
        </div>
      </div>
    </div>

    <!-- Contact Information Section -->
    <div class="card mb-4">
      <div class="card-header">
        <label class="section-title">Contact Information</label>
      </div>
      <div class="card-body">
        <p><strong>Address:</strong> {{ contactInfo.address }}</p>
        <p><strong>Phone:</strong> {{ contactInfo.phone }}</p>
        <p><strong>Email:</strong> {{ contactInfo.email }}</p>
        <p>
          <strong>Website:</strong>
          <a [href]="contactInfo.website">{{ contactInfo.website }}</a>
        </p>
      </div>
    </div>
    <!-- Strategic Information Section -->
    <div class="card mb-4">
      <div class="card-header">
        <label class="section-title">Strategic Information</label>
      </div>
      <div class="card-body">
        <div class="strategic-info">
          <div class="info-section">
            <h5>Mission and Vision:</h5>
            <p>
              <strong>Mission:</strong>
              {{ strategicInformation.missionVision.mission }}
            </p>
            <p>
              <strong>Vision:</strong>
              {{ strategicInformation.missionVision.vision }}
            </p>
          </div>
          <div class="info-section">
            <h5>SWOT Analysis:</h5>
            <p>
              <strong>Strengths:</strong>
              {{ strategicInformation.swotAnalysis.strengths.join(", ") }}
            </p>
            <p>
              <strong>Weaknesses:</strong>
              {{ strategicInformation.swotAnalysis.weaknesses.join(", ") }}
            </p>
            <p>
              <strong>Opportunities:</strong>
              {{ strategicInformation.swotAnalysis.opportunities.join(", ") }}
            </p>
            <p>
              <strong>Threats:</strong>
              {{ strategicInformation.swotAnalysis.threats.join(", ") }}
            </p>
          </div>
          <div class="info-section">
            <h5>Key Performance Indicators (KPIs):</h5>
            <p>{{ strategicInformation.kpis.join(", ") }}</p>
          </div>
          <div class="info-section">
            <h5>Growth Strategy:</h5>
            <p>{{ strategicInformation.growthStrategy }}</p>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
