<app-community-sidenav></app-community-sidenav>
<app-community-header></app-community-header>
<main style="margin-top: 10px; margin-left: 250px;">
    <div class="page-breadcrumb">
        <div class="d-md-flex align-items-center">
            <h4 class="page-title">Community Q <i class="fa fa-bars" aria-hidden="true"> A</i></h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="padding-top: 20px;">
            <div class="col-8">
                <div class="row">
                    <div class="col" style="text-align: left;">
                        <h5>Explore Our Questions</h5>
                    </div>
                    <div class="col" style="text-align: right;">
                        <button type="submit" class="btn btn-primary rounded-sm ms-3" routerLink="/ask-question">
                            Ask a question
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h5>Hot Network Questions</h5>
            </div>
        </div>
    </div>
</main>