#profile {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    background: #f4f4f4;
    display: table;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 8px rgba(black, 0.35);
}

.dashes {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border: 4px dashed #ddd;
    opacity: 1;
}

.image-label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;
    color: grey;
    opacity: 1;
}

#mediaFile {
  position: absolute;
  top: 90%;
  left: 26%;
  color: white;
}
/* .uploadImage{
  border-radius: 100%;
  height: 195px;
  width: 200px;
  margin-top: 4px;
} */
