<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-5">
        <div class="login-wrap d-md-flex">
          <div class="wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <img src="../../assets/letterLogo.png" width="250px;" />
                <h4 class="mb-2">Email Verification</h4>
                <img
                  class="email-iocn-styl"
                  src="../../assets/email-icon2.gif"
                />
              </div>
            </div>
            <p>Almost there, ********* A Code has been sent to your email.</p>
            <p>
              <b>Noreply@jellyspace.org</b>
            </p>
            <!-- Add (ngSubmit)="verifyOTP()" to form tag -->
            <form (ngSubmit)="verifyOTP()">
              <div class="form-group mb-2">
                <label class="label" for="otp">Enter Code</label>
                <input
                  type="text"
                  class="form-control"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="otpText"
                  placeholder="Enter Code To Verify"
                />
              </div>
              <div class="form-group mb-2">
                Code expires in <b>{{ timeLeft }}</b> seconds
              </div>
            </form>
            <p class="text-center p-4">
              <a data-toggle="tab" style="white-space: nowrap">
                Didn't receive any Code?
                <button
                  data-toggle="tab"
                  [disabled]="timeLeft > 0"
                  (click)="reSendOTP()"
                  style="cursor: pointer; color: #4caf50"
                >
                  Resend Code
                </button>
              </a>
            </p>
            <hr />
            <div class="row">
              <div class="col" style="text-align: left">
                <button
                  type="button"
                  class="btn btn-dark"
                  (click)="backNavigation()"
                  style="color: white !important"
                >
                  Previous
                </button>
              </div>
              <div class="col" style="text-align: right">
                <!-- Make sure this button is inside the form and is type="submit" -->
                <button
                  type="submit"
                  [disabled]="!otpText"
                  class="btn btn-primary rounded-sm ms-3"
                >
                  Register
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
