<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      canvas {
        display: block;
        margin: 0 auto;
        background-color: #FFFFFF;
        cursor: pointer;
      }

      h4 {
        margin: 50px 0 0 200px;
      }

      .logo {
        display: block;
        margin: 20px auto;
        max-width: 100px;
        /* Adjust this value as needed */
      }
    </style>
  </head>

  <body>
    <h4>Supply Chain Framework that is built with Classical and Multimodal Generative AI with privacy preserving Distributed Ledger Technology.</h4>
    <canvas id="visoCanvas" width="600" height="600"></canvas>
    <title>JELLYSPACE</title>
  </body>

</html>