.page-breadcrumb {
    padding: 20px 20px 0 20px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .d-md-flex {
        display: flex !important;
    }
}

.align-items-center {
    align-items: center !important;
}

.page-breadcrumb .page-title {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 21px;
}

.ms-auto {
    margin-left: auto !important;
}

.page-breadcrumb .breadcrumb {
    padding: 0px;
    margin: 0px;
    background: transparent;
    font-size: 12px;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #99abb4 !important;
}

.fs-3 {
    font-size: 0.875rem !important;
}

h4 {
    margin-bottom: -10px;
}

.btn {
    border-radius: 25px;
}
.skill-style {
    border: 1px solid #d9d5d5;
    height: 40px;
}
.pay-style {
    border: 1px solid #bbb4b4;;
    border-radius: 10px;
    height: 120px;
}
.pay-style-bg {
    border: 2px solid #0ae040;;
    border-radius: 10px;
    height: 120px;
}
.pay-style1 {
    border: 1px solid #bbb4b4;;
    border-radius: 30px;
    height: 70px;
}

.select-box-style{
    border: 1px solid #e1d4d4 !important;
    border-radius: 15px;
    height: 35px;
}

.box-style1 {
    border: 1px solid;
    height: 65px;
    /* background: #7d7dd3; */
    color: #fff;
}
.box-style2 {
    border: 1px solid;
    height: 65px;
    /* background: #fbc00f; */
    color: #fff;
}
.box-style3 {
    border: 1px solid;
    height: 65px;
    /* background: #d68d99; */
    color: #fff;
}
.box-style4 {
    border: 1px solid;
    height: 65px;
    /* background: #1d2022; */
    color: #fff;
}

.chat-btn-style {
    width: 80px !important;
    height: 23px !important;
    background: #86d566 !important;
    border: none !important;
    color: #fff !important;
    font-size: 13px !important;
    padding-top: 3px !important;
    margin: 5px !important;
    margin-top: -10px !important;
}

.accept-btn-style {
    width: 75px !important;
    height: 25px !important;
    background: #86d566 !important;
    border: none !important;
    color: #fff !important;
    font-size: 13px !important;
    padding-top: 3px !important;
}
.reject-btn-style {
    width: 75px !important;
    height: 25px !important;
    background: #e60d0d !important;
    border: none !important;
    color: #fff !important;
    font-size: 13px !important;
    padding-top: 3px !important;
}

.details-btn-style {
    width: 75px !important;
    height: 25px !important;
    background: #4646c7 !important;
    border: none !important;
    color: #fff !important;
    font-size: 13px !important;
}

.commt-box {
    box-shadow: 1px 1px 3px;
    background: #5858e5;
    height: 45px;
}
.commt-box1 {
    box-shadow: 1px 1px 3px;
    /* background: #5858e5; */
    height: 65px;
    padding-left: 5px;
    margin: 10px;
}
.round-btn-style {
    border-radius: 25px;
    border: 1px solid blue;
    height: 30px;
    width: 30px;
    background: #4c4cdd;
    color: #fff;
    padding-top: 2px !important;
    font-size: 15px;
}

.box-font-style {
    font-size: 12px;
    font-weight: 600;
}

.commt-box-style {
    border: 1px solid gray;
    height: 35px;
    border-radius: 7px;
}
.header-style {
    background: #f6f6f7;
    height: 30px;
    /* font-weight: bold; */
    border-radius: 7px;
    margin-left: 15px;
}

.comment-btn {
    height: 22px;
    width: 60px;
    background: #cecee7;
    font-size: 13px;
}

.nav-link {
    color: #4CAF50 !important;
}

.nav-pills .nav-link.active {
    background-color: #4CAF50 !important;
    color: #fff;
}

.cardWidth1 {
    margin-left: 0px;
}
/* .cardWidth {
    margin-left: 250px;
} */

.menu-icon {
    font-size: 20px;
}

.cardWidth {
    margin-left: 240px;
}
.sidecardWidth {
    margin-left: 71px;
}

.icon-toggle{
    position: fixed;
    top: 18px;
    left: 195px;
    z-index: 1000;
    color: #4fbe62;
    padding-left: 25px;
}
.icon-toggle1{
    position: fixed;
    left: 40px;
    z-index: 1000;
    top: 20px;
    color: #4fbe62;
}

.highlight{
    border: 2px solid #25e713;
}

/* .card .read-more:hover{
    font-size: 14px;
}

.card :hover{
    box-shadow: 8px 8px 8px blue;
} */

.icon-style1 {
    /* position: relative; */
    /* top: 28px; */
    /* left: 77px; */
    /* right: 48%; */
    color: #4caf50 !important;
}
.card1:hover{
    background: #d4f7d4;
}

.send-btn {
    width: 70px !important;
    background: #86d566 !important;
    color: white !important;
    height: 25px !important;
}
.freelancer{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: inherit;
  overflow-y: scroll;
  height: 480px;
}
.userdetails{
    margin-bottom: 20px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: inherit;
    overflow-y: scroll;
    height: 70px;
  }
.project{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: inherit;
  overflow-y: scroll;
  border: 1px solid rgb(173, 172, 172);
  height: 480px;
}
