<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-6">
                <div class="login-wrap d-md-flex">
                    <div class="wrap p-4 p-md-5">
                        <div class="d-flex mb-5">
                            <div class="w-100">
                                <img src="../../assets/letterLogo.png" width="250px;">
                            </div>
                        </div>
                        <h4 class="font-style-family" style="font-size: 18px;">Link Your Accounts</h4>
                        <p class="card-text mb-5">
                            <small class="text-muted font-style-family">
                                Save time filling out your profile and build trust by linking your accounts.
                            </small>
                        </p>
                        <div class="card mb-3" id="account-shadow">
                            <div class="card-body">
                                <img src="../../assets/facebook.svg" class="ms-2 img-left" width="35" alt="Facebook Icon" />
                                <p class="ms-3 font-style-family" style="float: left;">
                                    Facebook<br>
                                    Import your photo, name and email address.
                                </p>
                            </div>
                        </div>
                        <div class="card mb-3" id="account-shadow">
                            <div class="card-body">
                                <img src="../../assets/linkedin.svg" class="ms-2 img-left" width="35" alt="LinkedIn Icon" />
                                <p class="ms-3 font-style-family" style="float: left;">
                                    LinkedIn<br>
                                    Import your photo, name and email address.
                                </p>
                            </div>
                        </div>
                        <div class="card mb-5" id="account-shadow">
                            <div class="card-body">
                                <img src="../../assets/github.svg" class="ms-2 img-left" width="35" alt="Github Icon" />
                                <p class="ms-3 font-style-family" style="float: left;">
                                    Github<br>
                                    Import your photo, name and email address.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;">
                                <button type="button" class="btn btn-dark font-style-family" routerLink="/user-details" 
                                style="color: white !important;">Previous</button>
                                <!-- <button type="submit" class="btn btn-danger rounded-sm" routerLink="/user-details">
                                    Previous
                                </button> -->
                            </div>
                            <div class="col" style="text-align: right;">
                                <button type="submit" class="btn btn-info ms-3 font-style-family" routerLink="/skills">
                                    Skip
                                </button>
                                <button type="submit" class="btn btn-primary rounded-sm ms-3 font-style-family" routerLink="/skills">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>